doctype html
html
  head
    title Home Page
    link(rel='stylesheet', href='/styles/main.css')
  body
    header
      h1 Welcome to the Home Page
    main
      p This is the main content area for the Home page.
    footer
      p © 2023 Your Company Name